body{
  background-color: #e6fff2;
}
.nav1 li{
  display: inline;
  padding-right: 60px;
}
.nav1{
    height: 50px;
}
.nav1 a{
  text-decoration: none;
}
.nav1 a:hover{
  color: red;
}
.hero{
  text-align: center;
  background-color: grey;
}
.hero p{
  font-size: 30px;
  font-weight: lighter;
  color: #555;
}
.abc{
  background-color: #ccccff;
}
.abc h1{
  font-size: 50px;
    color: #ff0000;
    padding-left: 100px;
}
.abc li{
  display: inline;
  float: right;
}
.ab{
  background-color: #ffffcc;
  height: 150px;
}
.ab h1{
  width: 300px;
  margin-left: 80px;
  font-size: 50px;
  color: #ac00e6;
}
.ab p{
  width: 300px;
  margin-left: 80px;
  font-size: 20px;
}
.nav2 li{
  display: inline;
  float: right;
  padding-right: 20px;
}
.nav2 a{
  text-decoration: none;
}
.nav2 a:hover{
  color: grey;
}
.nav2 a:after{
  padding: 10px;
  content: '/'
}
.div1{
  background-color: grey;
  height: 300px;
}
.div2{
  float: left;
  padding-right: 250px;
}
.div2 pre{
  font-size: 15px;
}
.div3 a:hover{
  color: black;
  text-decoration: none;
}
.div3 a{
  font-size: 20px;
}
.div4{
  float: left;
}
.diva{
  background-color: #ff80df;
  text-align: center;
  height: 70px;
}
.diva a{
  font-size: 50px;
  color: grey;
}
